*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  height: 1px;
}

.country-card{
  height: 350px;
  width: 250px;
  box-shadow: 1px 1px 3px rgb(0, 0, 0,0.4);
  border-radius: 8px;
  padding: 10px;
}

.country-card img{
  height: 40%;
  width: 100%;
  border-radius: 14px;
  object-fit: cover;
}